<p>
  <strong>Name:</strong>
  <%= @business.name %>
</p>

<p>
  <strong>Jira Name:</strong>
  <%= @business.jira_name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @business.price %>
</p>

<%= link_to 'Back', businesses_path %>
