<div class="col-md-7 col-md-offset-3 main">
  <% provide(:title, "Issues")%>
  <center><h1>Issues</h1></center>
  <%= paginate @issues %>
  <table>
    <thead>
      <tr>
        <th>Jira name</th>
        <th>Title</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @issues.each do |issue| %>
        <tr>
          <td><%= link_to issue.issue_key, issue_path(issue) %></td>
          <td><%= issue.title %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @issues %>
</div>