<% if @report_result.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@report_result.errors.count, "error") %> prohibited this report result from being saved:</h2>

    <ul>
      <% @report_result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

