<%= f.fields_for @user do |user|%>
  <div class="field">
	 <%= user.text_field :email, placeholder: "Email", :class => "form-control", readonly: true %>
  </div>
  <div class="field">
	 <%= user.text_field :username, placholder: "Username", :class => "form-control" %>
  </div>
<% end %>