<footer class="footer">
  <small>
    Time reporting from Jira issue statuses
  </small>
  <nav>
    <ul>
      <li><%= link_to "Employee",   '#' %></li>
      <li><%= link_to "Project", '#' %></li>
    </ul>
  </nav>
</footer>