<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "jira time reporting", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Employee",   '#' %></li>
        <li><%= link_to "Project",   '#' %></li>
      </ul>
    </nav>
  </div>
</header>
