<div class="col-md-7 col-md-offset-3 main">
  <% provide(:title, "Password change")%>
  <p>Hello <%= @resource.email %>!</p>

  <p>We're contacting you to notify you that your password has been changed.</p>
</div>